@import "variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "../../../../../../core/pyrocms/accelerant-theme/resources/scss/theme/mixins";
@import "../../../../../../core/pyrocms/accelerant-theme/resources/scss/theme/variables";
@import "../../../../../../core/pyrocms/accelerant-theme/resources/scss/theme/theme";


body.display--compact
{
    @include compact_display(13px);

    .form-control {
        font-size: 0.7rem;
    }
}

body.crvs {
    .table {

    }
}