{% block content %}

    <div class="container-fluid">

        {% if not flex.containers.empty() %}
            {% for container in flex.containers %}
                <div class="d-flex {{ container.getClasses() }}">

                </div>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}