{% extends "streams::blank" %}

{% block content %}

    <div class="container-fluid">

        <div class="d-flex flex-row justify-content-between card">
            <div class="p-2 flex-grow-1">
                <ul>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                </ul>
            </div>
            <div class="p-2 flex-grow-1">
                <ul>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                </ul>
            </div>
            <div class="p-2 flex-grow-1">
                <ul>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Option</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-between">
            <div class="flex-grow-1">
                {{ form.render().content()|raw }}
            </div>
            <div class="flex-grow-1">
            </div>
        </div>
    </div>

{% endblock %}